<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GuestBook</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    {% if response %}
    	{{ response }}
    	{% comment %}
    		{% for key in response.items %}
      			<li>{{ key.0 }} - {{ key.1 }}</li>
	    	{% endfor %}
    	{% endcomment %}
    {% endif %}
    <form action="/CancelPreapproval" method="post">
      <div>preapprovalKey: <input type="text" name="preapprovalKey" value=""/></div>
      <div><input type="submit" value="Cancel Preapproval"></div>
    </form>
{% include "nav.html" %}
  </body>

</html>