<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GuestBook</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    {% if response %}
    	{{ response }}
    	{% comment %}
    		{% for key in response.items %}
      			<li>{{ key.0 }} - {{ key.1 }}</li>
	    	{% endfor %}
    	{% endcomment %}
    {% endif %}
    <br/>
    <a href="{{ paymentDetailsLink }}">{{ paymentDetailsLink }}</a>
    <br/>
    <a href="{{ paymentAuthZUrl }}">{{ paymentAuthZUrl }}</a>
    <br/><font color="red">{{ errorOccured }}</font>
    <br/>
    
    
    
    <form action="/ChainedPay" method="post">
    	<div>paymentType: <select name="paymentType"><option>GOODS</option><option>SERVICES</option><option>PERSONAL</option><option>CASHADVANCE</option></select></div>
        <div>currencyCode:<select name="currencyCode"><option>USD</option><option>EUR</option><option>AUD</option></select></div>
    	<div>Primary Receiver Email:<input type="text" name="receiver_email1" value="ppalav_1260515409_biz@yahoo.com"/></div>
        <div>Primary Receiver Amount:<input type="text" name="receiver_amount1" value="100.00"/></div>
        <div>Secondary Receiver Email:<input type="text" name="receiver_email2" value="pp+sel_1261964325_biz@yahoo.com"/></div>
        <div>Secondary Receiver Amount:<input type="text" name="receiver_amount2" value="10.00"/></div>
    	<div>Sender Email:<input type="text" name="senderEmail" value="ppalav_1260941775_per@yahoo.com"/></div>
		<div>FeePayer: <select name="feesPayer"><option>EACHRECEIVER</option><option>PRIMARYRECEIVER</option><option>SECONDARYONLY</option></select></div>
		<div>Memo: <input type="text" name="memo" value="this is a test memo"/></div>
		
      <div><input type="submit" value="Send Pay Request"></div>
    </form>
    {% include "nav.html" %}
  </body>

</html>