<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>GuestBook</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    {% if response %}
    	{{ response }}
    	{% comment %}
    		{% for key in response.items %}
      			<li>{{ key.0 }} - {{ key.1 }}</li>
	    	{% endfor %}
    	{% endcomment %}
    {% endif %}
    <form action="/ConvertCurrency" method="post">
    	<div>Base Amount Currency:<select name="baseCurrencyCode"><option>USD</option><option>EUR</option><option>AUD</option></select></div>
		<div>Base Amount:<input type="text" name="baseAmount" value="10"/></div>
		<div>Convert to Currency1:<select name="convertCurrency1"><option>CAD</option><option>HKD</option></select></div>
    	<div>Convert to Currency2:<select name="convertCurrency2"><option>BRL</option><option>ILS</option></select></div>
    	<div>Convert to Currency2:<select name="convertCurrency3"><option>CZK</option><option>JPY</option></select></div>
		
      <div><input type="submit" value="Convert Currency"></div>
    </form>
    
    {% include "nav.html" %}
  </body>

</html>